<div class="main-content">
    <div class="lp-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 box-logo">
                    <img src="../../assets/logo.svg" alt="">
                    <img src="../../assets/memory/logo-memoryzone2 1.png" alt="">

                </div>
                <div class="col-md-6 box-button hidden-mb">
                    <button (click)="openCard()">
                        Mở thẻ nhận ưu đãi
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="memory-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 banner-col">
                    <div class="banner">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1 class="title">
                                    Ưu đãi sắm Tết<br> cùng SenID
                                </h1>
                                <h3 class="des">
                                    Dành cho khách hàng của MemoryZone<br> mở thẻ tín dụng VPBank qua SenID
                                </h3>
                                <div class="box-button">
                                    <button (click)="openCard()">
                                        Mở thẻ nhận ưu đãi
                                        <img src="../../assets/arrow-white.svg" alt="">
                                    </button>
                                </div>
                                <img class="hidden-desktop memory-banner" src="../../assets/memory/banner-mb.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-feature">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="list-item">
                        <div class="item">
                            <img src="../../assets/memory/feature1.png" alt="">
                            <p class="title">
                                Mở thẻ online,<br>chỉ với CCCD gắn chip
                            </p>
                        </div>
                        <div class="item">
                            <img src="../../assets/memory/feature2.png" alt="">
                            <p class="title">
                                Nhận ngay voucher<br>sau 10 phút mở thẻ
                            </p>
                        </div>
                        <div class="item">
                            <img src="../../assets/memory/feature3.png" alt="">
                            <p class="title">
                                Nhận tiếp hoàn tiền<br>khi kích hoạt thẻ cứng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-pro">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pro">
                        <p class="title">
                            Tổng ưu đãi
                        </p>
                        <p class="money">
                            500.000đ
                        </p>
                        <p class="des">
                            Dành cho khách hàng lần đầu mở và kích hoạt thẻ tín dụng VPBank theo chương trình ưu đãi do
                            SenID và MemoryZone triển khai.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="group-container">
                    <div class="box-discount">
                        <h3 class="title">
                            Mỗi khách hàng nhận được tối đa 02 ưu đãi
                            <img class="vector vector1" src="../../assets/memory/Vector 3.svg" alt="">
                            <img class="vector vector2" src="../../assets/memory/Vector 4.svg" alt="">
                        </h3>
                        <div class="list-item">
                            <div class="item">
                                <div class="box-money">
                                    <p class="text1">
                                        Mã giảm giá
                                    </p>
                                    <p class="text2">
                                        250.000đ
                                    </p>
                                    <p class="text3">
                                        (Giảm tối đa 40% giá trị đơn hàng)
                                    </p>
                                </div>
                                <p class="text4">
                                    Áp dụng khi mua sắm online hoặc trực tiếp tại Hệ thống cửa hàng
                                    MemoryZone
                                </p>
                            </div>
                            <div class="item">
                                <div class="box-money">
                                    <p class="text1">
                                        Hoàn tiền
                                    </p>
                                    <p class="text2">
                                        250.000đ
                                    </p>
                                    <p class="text3">

                                    </p>
                                </div>
                                <p class="text4">
                                    Số tiền hoàn về tài khoản thanh toán khách hàng cung cấp trên nền tảng
                                    SenID
                                </p>
                            </div>
                        </div>
                        <div class="box-hoan-tien">
                            <div class="hoan-tien">
                                <p>
                                    Và hoàn tiền lên đến 1.000.000đ tại kỳ sao kê đầu tiên khi chi tiêu bằng thẻ
                                    tín dụng
                                    VPBank mở tại SenID.
                                    <a href="">Xem chi tiết thẻ</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="box-time">
                        <p class="text-center">
                            <img class="hidden-desktop" src="../../assets/memory/time.png" alt="">
                        </p>
                        <p class="title">Thời gian diễn ra chương trình ưu đãi</p>
                        <p class="time">
                            <span>01.01.2024</span>
                            <img class="hidden-mb" src="../../assets/memory/time.png" alt="">
                            <span>31.03.2024</span>
                        </p>
                        <div class="box-img">
                            <img class="img" src="../../assets/memory/bg-time.png" alt="">
                            <p class="note">
                                Do số lượng có hạn, chương trình<br>có thể kết thúc trước thời hạn dự kiến
                            </p>
                        </div>
                    </div>
                    <div class="box-step">
                        <p class="title">
                            Nhận ưu đãi với<br>
                            5 bước đơn giản
                            <img src="../../assets/memory/Vector.png" alt="">
                        </p>
                        <div class="step">
                            <div class="slick-slider slick-slider1">
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-text">
                                            <div class="wrap-step">
                                                <span class="item-step">
                                                    01
                                                </span>
                                                <p class="item-title">
                                                    Đăng ký mở thẻ trên SenID
                                                </p>
                                            </div>
                                            <p class="item-des">
                                                Khách hàng lần đầu nhập số điện thoại để đăng ký mở thẻ tín dụng VPBank
                                                tại đường link chương trình ưu đãi giữa SenID và MemoryZone
                                            </p>
                                            <button class="item-btn btn-black" (click)="openCard()">
                                                Mở thẻ nhận ưu đãi
                                                <img src="../assets/arrow-white.svg" alt="">
                                            </button>
                                        </div>
                                        <div class="box-img">
                                            <img src="../assets/memory/step1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-text">
                                            <div class="wrap-step">
                                                <span class="item-step">
                                                    02
                                                </span>
                                                <p class="item-title">
                                                    Hoàn tất mở thẻ thành công
                                                </p>
                                            </div>
                                            <p class="item-des">
                                                Khách hàng mở thẻ thành công và không thay đổi đường link của chương
                                                trình ưu đãi giữa SenID và MemoryZone trong suốt quá trình mở thẻ
                                            </p>
                                        </div>
                                        <div class="box-img">
                                            <img src="../assets/memory/step2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-text">
                                            <div class="wrap-step">
                                                <span class="item-step">
                                                    03
                                                </span>
                                                <p class="item-title">
                                                    Đăng nhập SenID
                                                    & nhận voucher
                                                </p>
                                            </div>
                                            <p class="item-des">
                                                Đăng nhập tài khoản SenID tại <a>https://senid.vn/taikhoan</a> bằng số
                                                điện
                                                thoại mở thẻ
                                                thành công sau khi hoàn tất mở thẻ để nhận voucher.
                                            </p>
                                            <button class="item-btn btn-black" (click)="openCard()">
                                                Đăng nhập nhận voucher
                                                <img src="../assets/arrow-white.svg" alt="">
                                            </button>
                                        </div>
                                        <div class="box-img">
                                            <img src="../assets/memory/step3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-text">
                                            <div class="wrap-step">
                                                <span class="item-step">
                                                    04
                                                </span>
                                                <p class="item-title">
                                                    Nhận thẻ & kích hoạt thẻ vật lý
                                                </p>
                                            </div>
                                            <p class="item-des">
                                                Nhận và kích hoạt thẻ vật lý được bàn giao bởi đơn vị vận chuyển của
                                                VPBank.<br>
                                                SenID tự động cập nhật thông tin kích hoạt của khách hàng trong vòng từ
                                                3-5 ngày làm việc kể từ thời điểm kích hoạt.
                                            </p>
                                        </div>
                                        <div class="box-img">
                                            <img src="../assets/memory/step4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-text">
                                            <div class="wrap-step">
                                                <span class="item-step">
                                                    05
                                                </span>
                                                <p class="item-title">
                                                    Nhập thông tin & nhận hoàn tiền
                                                </p>
                                            </div>
                                            <p class="item-des">
                                                Nhập thông tin tài khoản thanh toán để nhận hoàn tiền từ SenID tại
                                                <a>https://senid.vn/taikhoan</a>.
                                                Hoàn tiền được thực hiện trong vòng 07 ngày kể từ thời điểm kích hoạt
                                                thẻ
                                                vật lý & cung cấp thông tin tài khoản.
                                            </p>
                                        </div>
                                        <div class="box-img">
                                            <img src="../assets/memory/step5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-policy">
                        <p class="title">
                            Điều khoản & điều kiện ưu đãi
                        </p>
                        <p class="des">
                            Chương trình mở thẻ tín dụng VPBank trên SenID và<br class="break"> nhận khuyến mãi khi mua
                            sản phẩm tại MemoryZone
                        </p>
                        <div class="box-img">
                            <button class="detail" data-toggle="modal" data-target="#myModal5">
                                Xem chi tiết
                                <img src="../../assets/memory/plus.svg" alt="">
                            </button>
                            <img class="img-policy" src="../../assets/memory/bg-policy.png" alt="">
                        </div>
                    </div>
                    <div class="cards">
                        <p class="title">
                            Thẻ tín dụng VPBank đang có trên SenID
                        </p>
                        <p class="des">
                            Thoải mái lựa chọn loại thẻ theo nhu cầu chỉ với một lần đăng ký
                        </p>
                        <div class="slick-slider slick-slider2 hidden-mb">
                            <div class="item-slide" data-toggle="modal" data-target="#myModal1">
                                <div class="wrap-item">
                                    <div class="box-img">
                                        <img src="../../assets/memory/the1.png" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p class="title">
                                            Thẻ tín dụng VPBank Z JCB
                                        </p>
                                        <p class="list">
                                            Miễn phí thường niên
                                        </p>
                                        <p class="list">
                                            Hoàn 10% giao dịch Ăn uống
                                        </p>
                                        <p class="list">
                                            Hạn mức đến 500 triệu đồng
                                        </p>
                                        <p class="list">
                                            Hoàn 10% giao dịch Giải trí, Fitness
                                        </p>
                                        <p class="list">
                                            Hoàn tiền 300.000 đồng trong tháng đầu
                                        </p>
                                        <p class="list">
                                            Hoàn 10% các giao dịch Gọi xe, Đặt đồ ăn
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slide" data-toggle="modal" data-target="#myModal2">
                                <div class="wrap-item">
                                    <div class="box-img">
                                        <img src="../../assets/memory/the2.png" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p class="title">
                                            Thẻ tín dụng VPBank StepUp Mastercard
                                        </p>

                                        <p class="list">
                                            Miễn phí thường niên
                                        </p>
                                        <p class="list">
                                            Hạn mức đến 500 triệu đồng
                                        </p>
                                        <p class="list">
                                            Hoàn đến 4% giao dịch ăn uống
                                        </p>
                                        <p class="list">
                                            Hoàn đến 15% giao dịch trực tuyến
                                        </p>
                                        <p class="list">
                                            Giảm đến 30% tại hơn 5.000 cửa hàng
                                        </p>
                                        <p class="list">
                                            Hoàn tiền 300.000 đồng trong tháng đầu
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slide" data-toggle="modal" data-target="#myModal3">
                                <div class="wrap-item">
                                    <div class="box-img">
                                        <img src="../../assets/memory/the3.png" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p class="title">
                                            Thẻ tín dụng VPBank MC2 MasterCard
                                        </p>

                                        <p class="list">
                                            Hạn mức đến 70 triệu đồng
                                        </p>
                                        <p class="list">
                                            Ưu đãi trả góp tại hơn 150 đối tác
                                        </p>
                                        <p class="list">
                                            Miễn phí thường niên năm đầu tiên
                                        </p>
                                        <p class="list">
                                            Ưu đãi đổi quà hấp dẫn từ các đối tác
                                        </p>
                                        <p class="list">
                                            Giảm đến 30% tại hơn 5.000 cửa hàng
                                        </p>
                                        <p class="list">
                                            Tích điểm cao, lên tới 6 điểm/1.000 đồng
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-slide" data-toggle="modal" data-target="#myModal4">
                                <div class="wrap-item">
                                    <div class="box-img">
                                        <img src="../../assets/memory/the4.png" alt="">
                                    </div>
                                    <div class="box-text">
                                        <p class="title">
                                            Thẻ tín dụng VNA Platinum MasterCard
                                        </p>

                                        <p class="list">
                                            Hạn mức đến 1 tỷ đồng
                                        </p>
                                        <p class="list">
                                            Hoàn ngay 1 triệu đồng
                                        </p>
                                        <p class="list">
                                            Tặng 1.000 dặm Bông Sen Vàng
                                        </p>
                                        <p class="list">
                                            Miễn phí thường niên năm đầu tiên
                                        </p>
                                        <p class="list">
                                            Giảm đến 30% tại hơn 5.000 cửa hàng
                                        </p>
                                        <p class="list">
                                            Tích luỹ dặm bay, 1.5 dặm/ 26.000 đồng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slick-none hidden-desktop">
                            <div class="list-item">
                                <div class="item-slide" >
                                    <div class="wrap-item">
                                        <div class="box-img">
                                            <img src="../../assets/memory/card11.png" alt="">
                                        </div>
                                        <div class="box-text">
                                            <p class="title">
                                                Thẻ tín dụng VPBank Z JCB
                                            </p>
                                            <p class="list">
                                                Miễn phí thường niên
                                            </p>
                                            <p class="list">
                                                Hoàn 10% giao dịch Ăn uống
                                            </p>
                                            <p class="list">
                                                Hạn mức đến 500 triệu đồng
                                            </p>
                                            <p class="list">
                                                Hoàn 10% giao dịch Giải trí, Fitness
                                            </p>
                                            <p class="list">
                                                Hoàn tiền 300.000 đồng trong tháng đầu
                                            </p>
                                            <p class="list">
                                                Hoàn 10% các giao dịch Gọi xe, Đặt đồ ăn
                                            </p>
                                        </div>
                                        <div class="box-button">
                                            <button data-toggle="modal" data-target="#myModal1">
                                                Chi tiết thẻ
                                                <img src="../../assets/memory/plus.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-img">
                                            <img src="../../assets/memory/card21.png" alt="">
                                        </div>
                                        <div class="box-text">
                                            <p class="title">
                                                Thẻ tín dụng VPBank StepUp Mastercard
                                            </p>
    
                                            <p class="list">
                                                Miễn phí thường niên
                                            </p>
                                            <p class="list">
                                                Hạn mức đến 500 triệu đồng
                                            </p>
                                            <p class="list">
                                                Hoàn đến 4% giao dịch ăn uống
                                            </p>
                                            <p class="list">
                                                Hoàn đến 15% giao dịch trực tuyến
                                            </p>
                                            <p class="list">
                                                Giảm đến 30% tại hơn 5.000 cửa hàng
                                            </p>
                                            <p class="list">
                                                Hoàn tiền 300.000 đồng trong tháng đầu
                                            </p>
                                        </div>
                                        <div class="box-button">
                                            <button data-toggle="modal" data-target="#myModal2">
                                                Chi tiết thẻ
                                                <img src="../../assets/memory/plus.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-img">
                                            <img src="../../assets/memory/card31.png" alt="">
                                        </div>
                                        <div class="box-text">
                                            <p class="title">
                                                Thẻ tín dụng VPBank MC2 MasterCard
                                            </p>
    
                                            <p class="list">
                                                Hạn mức đến 70 triệu đồng
                                            </p>
                                            <p class="list">
                                                Ưu đãi trả góp tại hơn 150 đối tác
                                            </p>
                                            <p class="list">
                                                Miễn phí thường niên năm đầu tiên
                                            </p>
                                            <p class="list">
                                                Ưu đãi đổi quà hấp dẫn từ các đối tác
                                            </p>
                                            <p class="list">
                                                Giảm đến 30% tại hơn 5.000 cửa hàng
                                            </p>
                                            <p class="list">
                                                Tích điểm cao, lên tới 6 điểm/1.000 đồng
                                            </p>
                                        </div>
                                        <div class="box-button">
                                            <button data-toggle="modal" data-target="#myModal3">
                                                Chi tiết thẻ
                                                <img src="../../assets/memory/plus.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-slide">
                                    <div class="wrap-item">
                                        <div class="box-img">
                                            <img src="../../assets/memory/card41.png" alt="">
                                        </div>
                                        <div class="box-text">
                                            <p class="title">
                                                Thẻ tín dụng VNA Platinum MasterCard
                                            </p>
    
                                            <p class="list">
                                                Hạn mức đến 1 tỷ đồng
                                            </p>
                                            <p class="list">
                                                Hoàn ngay 1 triệu đồng
                                            </p>
                                            <p class="list">
                                                Tặng 1.000 dặm Bông Sen Vàng
                                            </p>
                                            <p class="list">
                                                Miễn phí thường niên năm đầu tiên
                                            </p>
                                            <p class="list">
                                                Giảm đến 30% tại hơn 5.000 cửa hàng
                                            </p>
                                            <p class="list">
                                                Tích luỹ dặm bay, 1.5 dặm/ 26.000 đồng
                                            </p>
                                        </div>
                                        <div class="box-button">
                                            <button data-toggle="modal" data-target="#myModal4">
                                                Chi tiết thẻ
                                                <img src="../../assets/memory/plus.svg" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer hidden-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="box-footer">
                        <img src="../../assets/memory/Union (1).svg" alt="">
                        <p class="email">Email liên hệ: cskh@senid.vn</p>
                        <p class="copy">© 2023 - Bản quyền thuộc về Công ty Cổ Phần Công Nghệ Paso</p>
                        <img class="hidden-mb" src="../../assets/memory/Union (1).svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer-mb hidden-desktop">
        <div class="box-footer">
            <img src="../../assets/memory/Union (1).svg" alt="">
            <p class="email">Email liên hệ: cskh@senid.vn</p>
            <p class="copy">© 2023 - Bản quyền thuộc về Công ty Cổ Phần Công Nghệ Paso</p>
            <img class="hidden-mb" src="../../assets/memory/Union (1).svg" alt="">
        </div>
    </div>
    <div class="lp-button hidden-desktop" (click)="openCard()" *ngIf="showFloatingButton">
        <button>
            Mở thẻ nhận ưu đãi
        </button>
    </div>
</div>

<!-- Modal -->
<div id="myModal5" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <p class="title">
                    Điều khoản & điều kiện ưu đãi
                </p>
                <button class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <p class="text">
                        Chương trình mở thẻ tín dụng VPBank trên SenID và nhận khuyến mãi khi mua sản phẩm tại Memory
                        Zone
                    </p>
                    <p class="text">1. Sản phẩm áp dụng: Thẻ tín dụng VPBank</p>
                    <p class="text">2. Thời gian áp dụng: 20/01/2024 đến hết 31/03/2024</p>
                    <p class="text">3. Nội dung chương trình</p>
                    <ul>
                        <li>Tặng ngay voucher trị giá 250.000đ dành cho khách hàng lần đầu mở thẻ tín dụng VPBank tại
                            https://mothe.senid.vn/memoryzone và hoàn tiền 250.000đ vào tài khoản khi khách hàng kích
                            hoạt thành công thẻ cứng.</li>
                        <li>Voucher được áp dụng khi mua các sản phẩm qua website https://memoryzone.com.vn/ hoặc tại
                            cửa hàng Memory Zone.</li>
                        <li>
                            Do giới hạn số lượng khuyến mãi, chương trình có thể kết thúc trước thời gian dự kiến.
                        </li>
                    </ul>
                    <p class="text">
                        4. Điều kiện nhận voucher:
                    </p>
                    <ul>
                        <li>Khách hàng lần đầu tiên mở thẻ tín dụng VPBank, bằng cách mở trực tiếp qua đường dẫn của
                            chương trình được triển khai bởi SenID và Memory Zone.</li>
                        <li>Khách hàng nhận ngay voucher sau khi hoàn thành luồng mở thẻ và được phê duyệt phát hành
                            thẻ.</li>
                        <li>Khách hàng phải kích hoạt thẻ cứng thẻ tín dụng VPBank trong vòng 30 ngày kể từ ngày nhận
                            được thẻ cứng. Khách hàng chỉ nhận được hoàn tiền khi kích hoạt thẻ thành công thẻ cứng. 
                        </li>
                    </ul>
                    <p class="text">
                        5. Điều kiện sử dụng voucher:
                    </p>
                    <p class="text">
                        Voucher có hạn sử dụng đến 15/04/2024.
                    </p>
                    <ul>
                        <li>
                            Áp dụng khi mua hàng qua hình thức trực tuyến tại website https://memoryzone.com.vn/ hoặc
                            tại cửa hàng Memory Zone.
                            Mỗi khách hàng được nhận tối đa 01 voucher.
                        </li>
                        <li>Voucher không có giá trị quy đổi thành tiền mặt hoặc hoàn trả tiền thừa (nếu có).</li>
                        <li>Một voucher chỉ được áp dụng được 01 (một) lần duy nhất, không được cấp lại/đổi trả
                            cho dù có bất kỳ lý do phát sinh liên quan trên đơn hàng.</li>
                    </ul>
                    <p class="text">
                        6. Phạm vi khuyến mại: Toàn quốc
                    </p>
                    <p class="text">
                        7. Phạm vi mở thẻ:
                    </p>
                    <ul>
                        <li>Khách hàng lần đầu mở thẻ tín dụng VPBank, đang sinh sống và làm việc tại các tỉnh thành
                            (không cần dựa theo hộ khẩu).</li>
                        <li>Khách hàng trong độ tuổi từ 18 – 60 tuổi.</li>
                    </ul>
                    <p class="text">8. Điều khoản chương trình khuyến mại:</p>
                    <ul>
                        <li>Trong mọi trường hợp, SenID là bên đưa ra quyết định cuối cùng trong việc gửi voucher.</li>
                        <li>SenID có quyền yêu cầu khách hàng bồi hoàn giá trị voucher hoặc cấn trừ vào hạn mức thẻ tín
                            dụng bằng với số tiền của voucher đã cấp nếu phát hiện khách hàng không tuân thủ theo điều
                            khoản và điều kiện của chương trình này.</li>
                        <li>SenID không phải nhà cung cấp sản phẩm hoặc đơn vị vận chuyển. Các sản phẩm và
                            dịch vụ này được cung cấp bởi các nhà cung cấp tương ứng theo điều kiện và
                            điều khoản do nhà cung cấp đó quy định. SenID không chịu trách nhiệm dưới bất kỳ
                            hình thức nào liên quan tới các sản phẩm và dịch vụ đó.</li>
                        <li>Thời gian giải quyết bất kỳ khiếu nại liên quan đến Chương trình khuyến mại là 60 ngày kể từ
                            ngày Khách hàng mở thẻ thành công hoặc kết thúc thời gian Khuyến mại, tuỳ vào thời điểm nào
                            đến trước.</li>
                        <li>SenID không có bất kỳ trách nhiệm nào liên quan đến các khoản thuế phát sinh từ khuyến mãi.
                            Bất kỳ khoản thuế nào hoặc việc chi trả khoản thuế cho cơ quan thuế do việc tiếp nhận khuyến
                            mãi sẽ là trách nhiệm của Khách hàng. Khách hàng có trách nhiệm tự tìm hiểu về những khoản
                            thuế phát sinh theo quy định của pháp luật hiện hành.</li>
                        <li>SenID sẽ có toàn quyền thay đổi khuyến mãi tương ứng với từng sản phẩm bằng sản phẩm khuyến
                            mại khác có giá trị tương đương, nhưng không vượt quá giá trị được đề cập trong Điều của các
                            Điều Khoản và Điều Kiện trong bất kỳ trường hợp nào.</li>
                        <li>Thời hạn quy đổi voucher của khách hàng là 15/04/2024. </li>
                        <li>SenID và Đối tác sẽ không giải quyết mọi khiếu nại liên quan đến việc nhận Quà
                            tặng sau khi hết Thời hạn quy đổi nêu trên và/hoặc sau khi khách hàng đã sử dụng
                            Quà tặng.</li>
                    </ul>
                    <p class="text">
                        9. Thông tin liên hệ:
                    </p>
                    <p class="text">
                        Nếu có bất kỳ thắc mắc khác liên quan đến chương trình khuyến mại, khách hàng vui lòng gửi email
                        trực tiếp đến cskh@senid.vn.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="box-login">
                    <button class="login" data-dismiss="modal" routerLink="/taikhoan">
                        Đăng nhập để xem chi tiết
                    </button>
                    <button class="close" data-dismiss="modal">
                        <img src="../../assets/memory/Close.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
                <h4 class="modal-title">Thẻ tín dụng Z JCB</h4>
            </div>
            <div class="modal-body">
                <p class="text-bold">
                    1. Hoàn tiền 10% cho mọi chi tiêu:
                </p>
                <ul>
                    <li>
                        Hoàn 10% cho giao dịch Ăn uống (*), tối đa 200,000 đồng.
                    </li>
                    <li>
                        Hoàn 10% cho giao dịch Giải trí, Fitness (*), tối đa 200,000 đồng.
                    </li>
                    <li>
                        Hoàn 10% cho các giao dịch Gọi xe, Đặt đồ ăn (*), tối đa 100,000 đồng.
                    </li>
                    <li>Áp dụng cho Khách hàng có tổng doanh số giao dịch từ 4 triệu/kỳ sao kê.</li>
                </ul>
                <p class="text-normal">
                    * Danh mục hoàn tiền sẽ tuân theo các mã danh mục được nêu cụ thể tại thể lệ ưu đãi.
                </p>
                <p class="text-bold">
                    2. Ưu đãi trả góp 0% tại mọi cửa hàng:
                </p>
                <ul>
                    <li>
                        Miễn phí chuyển đổi trả góp 0% kỳ hạn 6 tháng cho các giao dịch chi tiêu (giao dịch quẹt thẻ tại
                        máy POS và giao dịch trực tuyến) thực hiện bằng thẻ chính trong vòng 3 tháng kể từ tháng mở thẻ;
                    </li>
                    <li>
                        Áp dụng cho giao dịch từ 3.000.000 VNĐ trở lên.
                    </li>
                </ul>
                <p class="text-bold">
                    3. Quà tặng chào mừng:
                </p>
                <p class="text-normal">
                    Hoàn tiền 300.000 VND cho khách hàng mở thẻ chính thẻ tín dụng VPBank Z JCB và đạt tổng doanh số
                    giao dịch từ 2 triệu VND trở lên trong vòng 30 ngày mở thẻ.
                </p>
                <p class="text-bold">
                    4. Miễn phí thường niên:
                </p>
                <ul>
                    <li>
                        Năm đầu tiên cho thẻ chính khi thẻ chính có từ 3 giao dịch chi tiêu trong vòng 30 ngày đầu
                        sau khi mở thẻ (mỗi giao dịch từ 200.000 VNĐ).
                    </li>
                    <li>
                        Năm tiếp theo cho thẻ chính nếu có tổng chi tiêu của cả thẻ chính và thẻ phụ trong năm hiện tại
                        đạt từ 80 triệu đồng.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="login" (click)="openCard()">
                    Mở thẻ nhận ưu đãi
                </button>
                <button class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
                <h4 class="modal-title">Thẻ tín dụng VPBank StepUp Mastercard</h4>
            </div>
            <div class="modal-body">
                <p class="text-bold">
                    1. Ưu đãi hoàn tiền:
                </p>
                <p class="text-normal">Nhóm 1: Khách hàng có tổng doanh số giao dịch từ 10 triệu/kỳ sao kê trở lên:</p>
                <ul>
                    <li>
                        Chi tiêu trực tuyến: Hoàn 15%, tối đa 600.000 VNĐ
                    </li>
                    <li>
                        Chi tiêu ăn uống: Hoàn 4%, tối đa 200.000 VNĐ
                    </li>
                </ul>
                <p class="text-normal">
                    Nhóm 2: Khách hàng có tổng doanh số giao dịch dưới 10 triệu/kỳ sao kê:
                </p>
                <ul>
                    <li>
                        Chi tiêu trực tuyến: Hoàn 6%, tối đa 300.000 VNĐ
                    </li>
                    <li>
                        Chi tiêu ăn uống: Hoàn 2%, tối đa 100.000 VNĐ
                    </li>
                    <li>
                        Hoàn 0.1%, không giới hạn số tiền hoàn cho cả 2 nhóm.
                    </li>
                </ul>
                <p class="text-bold">2. Ưu đãi trả góp 0% tại mọi cửa hàng:</p>
                <ul>
                    <li>Miễn phí chuyển đổi trả góp 0% kỳ hạn 6 tháng cho các giao dịch chi tiêu (giao dịch quẹt thẻ tại
                        máy POS và giao dịch trực tuyến) thực hiện bằng thẻ chính trong vòng 3 tháng kể từ tháng mở thẻ;
                    </li>
                    <li>Áp dụng cho giao dịch từ 3.000.000 VNĐ trở lên.</li>
                </ul>
                <p class="text-bold">3. Quà tặng chào mừng:</p>
                <p class="text-normal">Hoàn tiền 300.000 VNĐ cho khách hàng mở thẻ tín dụng VPBank StepUp trong khoảng
                    thời gian triển khai chương trình và đạt tổng doanh số giao dịch từ 2 triệu VND trở lên trong 30
                    ngày mở thẻ.</p>
                <p class="text-bold">4. Miễn phí thường niên:</p>
                <p class="text-normal">Miễn phí năm đầu tiên cho thẻ chính khi thẻ chính có từ 3 giao dịch chi tiêu
                    trong vòng 30 ngày đầu sau khi mở thẻ (mỗi giao dịch từ 300.000 VNĐ).</p>
            </div>
            <div class="modal-footer">
                <button (click)="openCard()">
                    Mở thẻ nhận ưu đãi
                </button>
                <img class="hidden-desktop" src="../../assets/memory/Close.svg" alt="">
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
                <h4 class="modal-title">Thẻ tín dụng VPBank MC2 MasterCard</h4>
            </div>
            <div class="modal-body">
                <p class="text-bold">1. Tích điểm đổi quà:</p>
                <ul>
                    <li>
                        1.000 VNĐ = 6 điểm cho chi tiêu siêu thị.
                    </li>
                    <li>
                        1.000VNĐ = 3 điểm cho tất cả giao dịch còn lại.
                    </li>
                </ul>
                <p class="text-bold">2. Ưu đãi trả góp 0% tại mọi cửa hàng:</p>
                <ul>
                    <li>
                        Trả góp tại hơn 150 đối tác trên toàn quốc: Nguyễn Kim, Điện máy Chợ Lớn, Samsung, Cellphones…
                    </li>
                    <li>
                        Miễn phí chuyển đổi trả góp 0% kỳ hạn 6 tháng cho các giao dịch chi tiêu.
                    </li>
                    <li>
                        Hưởng ưu đãi miễn lãi tối đa 45 ngày
                    </li>
                    <li>
                        Áp dụng cho giao dịch từ 3.000.000 VNĐ trở lên.
                    </li>
                </ul>
                <p class="text-bold">
                    3. Ưu đãi tại đối tác của VPBank:
                </p>
                <ul>
                    <li>
                        Giảm giá lên đến 30% tại hơn 5.000 cửa hàng ăn uống, du lịch, mua sắm, giải trí…
                    </li>
                    <li>
                        Ẩm thực: Nhà hàng COCA, Thái Blah Blah, Mamma Mia - Itali Restaurant,...
                    </li>
                    <li>
                        Mua sắm: Thời trang Pantio, Owen, Sunfly, Winny, Orchard,...
                    </li>
                    <li>
                        Du lịch: Booking.com, Baysieure.com - Jaya Travel, Novotel Nha Trang,...
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button (click)="openCard()">
                    Mở thẻ nhận ưu đãi
                </button>
                <img class="hidden-desktop" src="../../assets/memory/Close.svg" alt="">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal4" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <img src="../../assets/memory/Close.svg" alt="">
                </button>
                <h4 class="modal-title">Thẻ tín dụng VNA Platinum MasterCard</h4>
            </div>
            <div class="modal-body">
                <p class="text-bold">1. Cơ chế tích lũy dặm bay:</p>
                <ul>
                    <li>26.000VNĐ = 1 dặm Bông Sen Vàng khi chi tiêu bằng VNĐ</li>
                    <li>26.000VNĐ = 1.5 dặm Bông Sen Vàng khi chi tiêu bằng ngoại tệ</li>
                    <li>Tặng 3.000 dặm Bông Sen Vàng nếu khách hàng có tổng doanh số giao dịch hợp lệ đạt 300 triệu
                        trong mỗi năm.</li>
                </ul>
                <p class="text-bold">
                    2. Ưu đãi hoàn tiền:
                </p>
                <p class="text-normal">
                    Hoàn 1 triệu đồng cho chủ thẻ mới khi chi tiêu thẻ đạt 4 triệu đồng trong vòng 30 ngày kể từ ngày mở
                    thẻ.
                </p>
                <p class="text-bold">
                    3. Quà tặng chào mừng:
                </p>
                <p class="text-normal">
                    Tặng 1.000 dặm Bông Sen Vàng cho chủ thẻ mới khi chi tiêu thẻ đạt 4 triệu đồng trong vòng 30 ngày kể
                    từ ngày mở thẻ.
                </p>
                <p class="text-bold">
                    4. Miễn phí thường niên:
                </p>
                <ul>
                    <li>Miễn phí thường niên năm đầu tiên cho thẻ chính nếu thẻ chính có phát sinh giao dịch chi tiêu
                        tối thiểu 2 triệu VNĐ trong vòng 30 ngày kể từ ngày mở thẻ.</li>
                    <li>Miễn phí thường niên năm tiếp theo cho thẻ chính nếu có tổng doanh số giao dịch của thẻ chính và
                        thẻ phụ trong năm hiện tại đạt từ 150 triệu đồng.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button (click)="openCard()">
                    Mở thẻ nhận ưu đãi
                </button>
                <img class="hidden-desktop" src="../../assets/memory/Close.svg" alt="">
            </div>
        </div>
    </div>
</div>