@import '../../styles-variables.scss';
* {
    font-family: 'Be Vietnam Pro' !important;
}
.main-content {
    background-color: #F5F5F5;
    min-height      : 100vh;
    

    .container {
        @media(min-width: 1366px) {
            min-width: 1280px;
        }
    }

    .lp-header {
        .box-button {
            button {
                border-radius : 200px;
                background    : #F04343;
                color         : #FFF;
                font-size     : 14px;
                font-style    : normal;
                font-weight   : 600;
                /* 142.857% */
                letter-spacing: -0.28px;
                height        : 48px;
                line-height   : 48px;
            }
        }
    }

    .memory-banner {
        margin-top: 20px;

        @media(max-width: $mobile) {
            margin-top: 0;
            .banner-col {
                padding: 0;
            }
        }

        .banner {
            background     : url(../../assets/memory/banner.png) no-repeat;
            background-size: 100% 100%;
            padding-left   : 80px;
            padding-top    : 100px;
            padding-bottom : 230px;

            @media(max-width: $mobile) {
                background      : none;
                background-color: #fff;
                padding-left    : 0;
                text-align      : center;
                padding-top     : 60px;
                padding-bottom  : 0;
            }

            .title {
                color         : #F04343;
                font-size     : 60px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 72px;
                /* 120% */
                letter-spacing: -2.4px;

                @media(max-width: $mobile) {
                    font-size     : 36px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 42px;
                    /* 116.667% */
                    letter-spacing: -0.72px;
                }
            }

            .des {
                color         : #171717;
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 28px;
                letter-spacing: -0.4px;
                margin-top    : 30px;

                @media(max-width: $mobile) {
                    margin-top    : 24px;
                    color         : #171717;
                    text-align    : center;
                    font-size     : 14px;
                    font-style    : normal;
                    font-weight   : 500;
                    line-height   : 20px;
                    letter-spacing: -0.42px;
                }
            }

            .box-button {
                margin-top: 48px;

                @media(max-width: $mobile) {
                    margin-top: 0;
                }

                button {
                    border-radius : 100px;
                    background    : #171717;
                    color         : #FFF;
                    font-size     : 16px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 24px;
                    letter-spacing: -0.32px;
                    border        : 0;
                    height        : 52px;
                    line-height   : 52px;
                    text-align    : center;
                    padding       : 0 20px;

                    @media(max-width: $mobile) {
                        margin-top : 24px;
                        height     : 48px;
                        line-height: 48px;
                        margin-top : 24px;
                        position   : relative;
                        z-index    : 2;
                    }
                }
            }

            .memory-banner {
                width     : 100%;
                position  : relative;
                margin-top: -50px;
                z-index   : 1;
            }
        }
    }

    .box-feature {
        max-width : 1062px;
        margin    : auto;
        margin-top: -109px;
        position  : relative;
        z-index   : 2;

        @media(max-width: $mobile) {
            max-width : unset;
            margin-top: 20px;
        }

        .list-item {
            display: flex;
            gap    : 30px;

            @media(max-width: $mobile) {
                display: block;
            }

            .item {
                border-radius: var(--40, 40px);
                border       : 1px solid #E6E6E6;
                background   : #FFF;
                padding      : 30px;
                flex         : 1;

                @media(max-width: $mobile) {
                    margin-top: 24px;
                    display   : flex;
                    padding   : 24px 20px;
                }

                img {
                    width: 70px;

                    @media(max-width: $mobile) {
                        flex  : 0 0 48px;
                        width : 48px;
                        height: 48px;
                    }

                }

                p {
                    color         : #171717;
                    font-size     : 24px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 32px;
                    letter-spacing: -0.48px;
                    margin-top    : 44px;

                    @media(max-width: $mobile) {
                        flex          : 1;
                        padding-left  : 24px;
                        margin-top    : 0;
                        font-size     : 20px;
                        line-height   : 28px;
                        letter-spacing: -0.6px;
                    }
                }
            }
        }
    }

    .box-pro {
        margin-top: 120px;

        @media(max-width: $mobile) {
            margin-top: 40px;
            position  : relative;
            z-index   : 2;
        }

        .pro {
            max-width      : 900px;
            margin         : auto;
            height         : 380px;
            background     : url(../../assets/memory/hoa-dao.png) no-repeat;
            background-size: 100% 100%;
            padding        : 60px 130px;
            text-align     : center;

            @media(max-width: $mobile) {
                height   : 140px;
                padding  : 20px 50px;
                max-width: unset;
            }

            .title {
                color         : #FFF;
                text-align    : center;
                font-size     : 42px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 48px;
                /* 114.286% */
                letter-spacing: -1.26px;

                @media(max-width: $mobile) {
                    font-size     : 15.634px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 18.24px;
                    /* 116.667% */
                    letter-spacing: -0.469px;
                }
            }

            .money {
                color         : #FFEB99;
                text-align    : center;
                font-size     : 124px;
                font-style    : normal;
                font-weight   : 700;
                line-height   : 120px;
                letter-spacing: -6.2px;
                margin-top    : 25px;

                @media(max-width: $mobile) {
                    font-size     : 46.903px;
                    font-style    : normal;
                    font-weight   : 700;
                    line-height   : 45.6px;
                    letter-spacing: -2.345px;
                    margin-top    : 7px;
                }
            }

            .des {
                color         : #FFF;
                text-align    : center;
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 28px;
                letter-spacing: -0.6px;
                margin-top    : 28px;

                @media(max-width: $mobile) {
                    font-size     : 7.817px;
                    font-style    : normal;
                    font-weight   : 500;
                    line-height   : 10.64px;
                    letter-spacing: -0.235px;
                    margin-top    : 8px;
                }
            }
        }
    }

    .group-container {
        max-width: 846px;
        margin   : auto;

        @media(max-width: $mobile) {
            // max-width: calc(100vw - 48px);
        }

        .box-discount {
            text-align: center;
            margin    : auto;
            margin-top: 80px;

            @media(max-width: $mobile) {
                margin-top   : 40px;
                border-radius: var(--24, 24px);
                border       : 2px solid #F04343;
                background   : #FFF;
                padding      : 20px;
                padding-top  : 150px;
                position     : relative;
                margin-top   : -100px;
            }

            .title {
                border-radius : 30px;
                border        : 2px solid #F04343;
                background    : #FFF;
                color         : #171717;
                text-align    : center;
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 28px;
                letter-spacing: -0.4px;
                height        : 60px;
                line-height   : 60px;
                width         : 480px;
                display       : inline-block;
                position      : relative;

                @media(max-width: $mobile) {
                    width         : 100%;
                    color         : #171717;
                    text-align    : center;
                    font-size     : 12px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 16px;
                    letter-spacing: -0.36px;
                    height        : 44px;
                    line-height   : 44px;
                    margin-bottom : 0;
                }

                .vector {
                    @media(max-width: $mobile) {
                        display: none;
                    }

                    position: absolute;
                    top     : 25px;
                    left    : -41px;

                    &.vector2 {
                        right: -41px;
                        left : auto;
                    }
                }
            }

            .list-item {

                margin-top: 30px;
                display   : flex;
                gap       : 30px;

                @media(max-width: $mobile) {
                    display      : block;
                    margin-bottom: 0;
                }

                .item {
                    background     : url(../../assets/memory/bg-giam-gia2.png) no-repeat;
                    background-size: 100% 100%;
                    padding        : 20px;

                    @media(max-width: $mobile) {
                        margin-top: 24px;
                    }

                    .box-money {
                        background     : url(../../assets/memory/bg-giam-gia1.png) no-repeat;
                        background-size: 100% 100%;
                        padding        : 24px 40px;
                        min-height     : 160px;

                        @media(max-width: $mobile) {
                            min-height: 106px;
                            padding   : 8px 20px;
                        }

                        .text1 {
                            color         : #F04343;
                            font-size     : 24px;
                            font-style    : normal;
                            font-weight   : 600;
                            line-height   : 40px;
                            letter-spacing: -0.48px;

                            @media(max-width: $mobile) {
                                font-size     : 16px;
                                font-style    : normal;
                                font-weight   : 600;
                                line-height   : 27.451px;
                                /* 171.569% */
                                letter-spacing: -0.32px;
                            }
                        }

                        .text2 {
                            color         : #F04343;
                            font-size     : 56px;
                            font-style    : normal;
                            font-weight   : 700;
                            line-height   : 72px;
                            letter-spacing: -2.24px;

                            @media(max-width: $mobile) {
                                font-size     : 38px;
                                font-style    : normal;
                                font-weight   : 700;
                                line-height   : 49.412px;
                                letter-spacing: -1.52px;
                                margin-top    : 0px;
                            }
                        }

                        .text3 {
                            color         : #171717;
                            font-size     : 16px;
                            font-style    : normal;
                            font-weight   : 500;
                            line-height   : 40px;
                            letter-spacing: -0.32px;
                            min-height    : 40px;

                            @media(max-width: $mobile) {
                                font-size     : 10px;
                                font-style    : normal;
                                font-weight   : 500;
                                line-height   : 27.451px;
                                letter-spacing: -0.2px;
                                margin-top    : 0px;
                                min-height    : 27px;
                            }
                        }
                    }

                    .text4 {
                        color         : #FFF;
                        text-align    : center;
                        font-size     : 16px;
                        font-style    : normal;
                        font-weight   : 500;
                        line-height   : 24px;
                        letter-spacing: -0.32px;
                        margin-top    : 20px;

                        @media(max-width: $mobile) {
                            font-size     : 12px;
                            font-style    : normal;
                            font-weight   : 500;
                            line-height   : 16px;
                            letter-spacing: -0.24px;
                        }
                    }
                }
            }

            .box-hoan-tien {


                .hoan-tien {
                    max-width      : 800px;
                    margin         : auto;
                    margin-top     : 40px;
                    background     : url(../../assets/memory/bg-hoan-tien.png) no-repeat;
                    background-size: 100% 100%;
                    padding        : 20px 90px;

                    @media(max-width: $mobile) {
                        padding   : 11px 15px;
                        margin-top: 24px;
                    }

                    p {
                        color         : #F04343;
                        text-align    : center;
                        font-size     : 20px;
                        font-style    : normal;
                        font-weight   : 600;
                        line-height   : 28px;
                        letter-spacing: -0.4px;

                        @media(max-width: $mobile) {
                            font-size     : 10px;
                            font-style    : normal;
                            font-weight   : 600;
                            line-height   : 14px;
                            letter-spacing: -0.2px;
                            display       : block;

                        }

                        a {
                            color         : #0091FF;
                            font-size     : 20px;
                            font-style    : normal;
                            font-weight   : 600;
                            line-height   : 28px;
                            letter-spacing: -0.4px;

                            @media(max-width: $mobile) {
                                font-size     : 10px;
                                font-style    : normal;
                                font-weight   : 600;
                                line-height   : 14px;
                                letter-spacing: -0.2px;
                            }
                        }
                    }
                }
            }
        }



        .box-time {
            padding-bottom: 30px;
            border-radius : 30px;
            border        : 1px solid #E6E6E6;
            background    : #FFF;
            margin-top    : 116px;
            padding-top   : 60px;

            @media(max-width: $mobile) {
                margin-top: 60px;
                padding   : 24px 0;

                .text-center {
                    img {
                        width: 54px;
                    }
                }
            }

            .title {
                color         : #171717;
                text-align    : center;
                font-size     : 30px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 40px;
                letter-spacing: -0.6px;

                @media(max-width: $mobile) {
                    margin-top    : 12px;
                    font-size     : 16px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 24px;
                    letter-spacing: -0.48px;
                }
            }

            .time {
                text-align: center;
                margin-top: 30px;

                @media(max-width: $mobile) {
                    margin-top: 12px;
                }

                span {
                    color         : #FFF;
                    font-size     : 30px;
                    font-style    : normal;
                    font-weight   : 700;
                    letter-spacing: -1.2px;
                    border-radius : 62px;
                    background    : #F04343;
                    padding       : 0 24px;
                    height        : 60px;
                    line-height   : 60px;
                    display       : inline-block;

                    @media(max-width: $mobile) {
                        font-size     : 18px;
                        font-style    : normal;
                        font-weight   : 700;
                        line-height   : 72px;
                        letter-spacing: -0.72px;
                        height        : 37px;
                        line-height   : 37px;
                        margin        : 0 6px;

                    }
                }

                img {
                    width         : 60px;
                    margin        : 0 30px;
                    vertical-align: bottom;

                }
            }

            .box-img {
                position: relative;

                .img {
                    width     : 100%;
                    margin-top: 30px;

                    @media(max-width: $mobile) {
                        margin-top: 12px;
                    }
                }

                .note {
                    display       : inline-block;
                    position      : absolute;
                    bottom        : 0px;
                    right         : 40px;
                    color         : #858585;
                    text-align    : right;
                    font-size     : 14px;
                    font-style    : normal;
                    font-weight   : 400;
                    line-height   : 20px;
                    letter-spacing: -0.28px;

                    @media(max-width: $mobile) {
                        position  : relative;
                        bottom    : unset;
                        right     : unset;
                        text-align: center;
                        display   : block;
                        margin-top: 12px;
                    }
                }
            }

        }

        .box-step {
            margin-top: 120px;
            text-align: center;

            @media(max-width: $mobile) {
                margin-top: 60px;
            }

            .title {
                color         : #171717;
                text-align    : center;
                font-size     : 48px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 60px;
                letter-spacing: -1.44px;
                position      : relative;
                display       : inline-block;
                z-index       : 3;

                @media(max-width: $mobile) {
                    font-size     : 30px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 40px;
                    /* 133.333% */
                    letter-spacing: -1.2px;
                }

                img {
                    position: absolute;
                    right   : -30px;
                    bottom  : -60px;

                    @media(max-width: $mobile) {
                        display: none;
                    }
                }
            }

            .step {
                margin-top: 40px;

                @media(max-width: $mobile) {
                    margin-top: 0px;
                }

                .slick-slider {
                    @media(max-width: $mobile) {
                        margin-bottom: 0 !important;
                        padding      : 0 20px;
                    }

                    .item-slide {
                        @media(max-width: 1919px) {
                            // width: 1000px !important;
                        }

                        @media(max-width: $mobile) {
                            padding-right : 0;
                            width         : unset;
                            padding-bottom: 0;
                            margin-top    : 0 !important;
                            padding       : 30px;
                        }

                        .wrap-item {
                            padding       : 60px;
                            border-radius : 30px;
                            border        : 1px solid var(--color-border-neutral-light, #E8E8E8);
                            background    : var(--color-bg-surface, #FFF);
                            box-shadow    : 0px 4px 40px 0px rgba(0, 0, 0, 0.02);
                            display       : flex;
                            gap           : 60px;
                            padding-bottom: 0;

                            @media(max-width: $laptop) {
                                padding: 24px;
                            }

                            @media(max-width: $mobile) {
                                padding       : 24px;
                                display       : block;
                                padding-bottom: 0;
                                border-radius : 20px;
                            }
                        }

                        @media(max-width: $mobile) {
                            display   : block;
                            padding   : 24px;
                            margin-top: 24px;
                        }

                        .box-text {
                            flex      : 440;
                            text-align: left;

                            @media(max-width: $mobile) {
                                .wrap-step {
                                    display       : flex;
                                    width         : 100%;
                                    flex-direction: row-reverse;

                                    .item-step {
                                        flex       : 0 0 38px;
                                        height     : 38px;
                                        line-height: 38px;
                                        font-size  : 16px;
                                        background : url(../../assets/memory/Union.svg);

                                        @media(max-width: $mobile) {
                                            background-size: 100% 100%;
                                        }
                                    }

                                    .item-title {
                                        flex      : 1;
                                        margin-top: 0;


                                        @media(max-width: $mobile) {
                                            font-size     : 20px;
                                            font-style    : normal;
                                            font-weight   : 700;
                                            line-height   : 26px;
                                            letter-spacing: -0.44px;
                                            padding-right : 24px;
                                        }
                                    }
                                }
                            }


                            .item-step {
                                background     : url(../../assets/memory/Union.svg) no-repeat;
                                background-size: 100% 100%;
                                width          : 70px;
                                height         : 70px;
                                display        : flex;
                                align-items    : center;
                                justify-content: center;
                                color          : #FFF;
                                font-size      : 26px;
                                font-style     : normal;
                                font-weight    : 600;
                                line-height    : 32px;
                                letter-spacing : -0.52px;
                            }

                            .item-title {
                                color         : #171717;
                                font-size     : 30px;
                                font-style    : normal;
                                font-weight   : 600;
                                line-height   : 40px;
                                letter-spacing: -0.6px;
                                text-align    : left;

                                @media(max-width: $laptop) {
                                    font-size  : 40px;
                                    line-height: 40px;
                                    margin-top : 36px;
                                }

                                @media(max-width: $mobile) {
                                    color               : var(--color-content-neutral-strong, #171717);
                                    font-variant-numeric: lining-nums proportional-nums;
                                    font-family         : Space;
                                    font-size           : 22px;
                                    font-style          : normal;
                                    font-weight         : 700;
                                    line-height         : 26px;
                                    letter-spacing      : -0.44px;
                                }
                            }

                            .item-des {
                                color         : #858585;
                                font-size     : 16px;
                                font-style    : normal;
                                font-weight   : 400;
                                line-height   : 24px;
                                letter-spacing: -0.32px;
                                margin-top    : 16px;
                                text-align    : left;

                                @media(max-width: $laptop) {
                                    margin-top : 24px;
                                    line-height: 30px;
                                    font-size  : 22px;
                                }

                                a {
                                    color         : var(--color-content-info, #0091FF);
                                    font-weight   : 700;
                                    line-height   : 36px;
                                    letter-spacing: -0.48px;
                                }

                                @media(max-width: $mobile) {
                                    font-size     : 12px;
                                    font-style    : normal;
                                    font-weight   : 450;
                                    line-height   : 22px;
                                    letter-spacing: -0.14px;
                                    margin-top    : 12px;
                                }
                            }

                            .item-btn {
                                border-radius: var(--corner-radius-Rounded, 1000px);
                                background   : #171717;
                                margin-top   : 75px;

                                @media(max-width: $mobile) {
                                    margin-top    : 20px;
                                    width         : 100%;
                                    height        : 40px;
                                    line-height   : 40px;
                                    font-size     : 12px;
                                    font-style    : normal;
                                    font-weight   : 600;
                                    line-height   : 16px;
                                    letter-spacing: -0.36px;
                                }

                                img {
                                    display: inline-block;

                                }
                            }
                        }

                        .box-img {
                            flex: 361;

                            img {
                                max-width       : 371px;
                                // border-radius: 0 0 30px 30px;

                                @media(max-width: $mobile) {
                                    max-width : 100%;
                                    margin-top: 24px;
                                }
                            }
                        }
                    }

                    ::ng-deep {
                        .slick-dots {
                            display         : inline-block;
                            background-color: #fff;
                            width           : 260px;
                            border-radius   : 1000px;
                            background      : #FFF;
                            height          : 60px;
                            line-height     : 60px;
                            position        : relative;

                            @media(max-width: $mobile) {
                                display: none !important;
                            }

                            li {
                                margin    : 0 2px;
                                text-align: center;

                                button {
                                    &::before {
                                        font-size: 10px;
                                        width    : 10px;
                                        height   : 10px;
                                        color    : #E6E6E6;
                                        opacity  : 1;
                                        left     : 5px
                                    }
                                }

                                &.slick-active {
                                    button {
                                        &::before {
                                            color: #F04343;
                                        }
                                    }
                                }
                            }
                        }

                        .slick-arrow {
                            top    : unset;
                            bottom : -36px;
                            width  : 40px;
                            height : 40px;
                            z-index: 3;

                            @media(max-width: $mobile) {
                                bottom: unset;
                                top   : 50%;
                            }

                            &::before {
                                content: "";
                            }

                            &.slick-next {
                                right     : 306px;
                                background: url(../../assets/memory/slick-right.png) no-repeat;

                                @media(max-width: $mobile) {
                                    right: 24px;
                                }
                            }

                            &.slick-prev {
                                left      : 306px;
                                background: url(../../assets/memory/slick-left.png) no-repeat;

                                @media(max-width: $mobile) {
                                    left: 24px;
                                }
                            }
                        }
                    }

                }
            }
        }

        .box-policy {
            border-radius: 30px;
            background   : #FFF;
            padding-top  : 40px;
            margin-top   : 120px;

            @media(max-width: $mobile) {
                padding-top  : 24px;
                border-radius: 20px;
            }

            .title {
                color         : #171717;
                text-align    : center;
                font-size     : 30px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 40px;
                letter-spacing: -0.6px;
                text-align    : center;

                @media(max-width: $mobile) {
                    font-size     : 16px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 24px;
                    letter-spacing: -0.48px;
                }
            }

            .des {
                color         : #858585;
                font-size     : 16px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 24px;
                letter-spacing: -0.32px;
                text-align    : center;
                margin-top    : 24px;

                @media(max-width: $mobile) {
                    font-size     : 12px;
                    font-style    : normal;
                    font-weight   : 400;
                    line-height   : 18px;
                    letter-spacing: -0.24px;
                    margin-top    : 12px;
                }
            }

            .box-img {
                text-align: center;
                margin-top: 30px;

                button {
                    border-radius: var(--corner-radius-Rounded, 1000px);
                    background   : #171717;
                    height       : 48px;
                    line-height  : 48px;
                    padding      : 0 24px;
                    color        : #fff;
                    border       : 0;
                    margin-bottom: -40px;
                    z-index      : 2;
                    position     : relative;

                    @media(max-width: $mobile) {
                        height        : 44px;
                        line-height   : 44px;
                        font-size     : 12px;
                        font-style    : normal;
                        font-weight   : 600;
                        line-height   : 16px;
                        letter-spacing: -0.36px;
                    }

                    img {
                        vertical-align: text-bottom;
                    }
                }

                .img-policy {
                    width        : 100%;
                    border-radius: 0 0 30px 30px;

                    @media(max-width: $mobile) {
                        border-radius: 0 0 20px 20px;
                    }
                }
            }
        }

        .cards {
            margin-top     : 120px;
            background     : url(../../assets/memory/bg-slider-card.png) no-repeat;
            background-size: 100% 100%;
            padding        : 40px 0px;

            @media(max-width: $mobile) {
                background: none;
                margin-top: 60px;
                padding-top: 0;
            }

            .title {
                color         : #FFF;
                text-align    : center;
                font-size     : 48px;
                font-style    : normal;
                font-weight   : 600;
                line-height   : 60px;
                letter-spacing: -1.44px;

                @media(max-width: $mobile) {
                    color         : #171717;
                    font-size     : 30px;
                    font-style    : normal;
                    font-weight   : 600;
                    line-height   : 40px;
                    letter-spacing: -1.2px;
                }
            }

            .des {
                color         : #FFF;
                text-align    : center;
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 28px;
                letter-spacing: -0.4px;
                margin-top    : 20px;

                @media(max-width: $mobile) {
                    color         : #171717;
                    font-size     : 14px;
                    font-style    : normal;
                    font-weight   : 400;
                    line-height   : 20px;
                    letter-spacing: -0.42px;
                    padding       : 0 40px;
                }
            }

            .slick-slider {
                margin-top: 40px;
                text-align: center;

                .item-slide {
                    padding-right: 60px;
                    cursor       : pointer;

                    &.slick-active {
                        // padding-right: 50px;
                    }

                    .wrap-item {
                        padding         : 40px 30px;
                        border-radius   : 16px;
                        display         : flex;
                        background-color: #fff;

                        @media(max-width: $mobile) {
                            border-radius: 20px;
                            background   : #F04343;
                            padding      : 20px;
                            display      : block;
                        }

                        .box-img {
                            flex: 0 0 256px;

                            img {
                                max-width: 100%;

                                @media(max-width: $mobile) {
                                    width    : 100%;
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        .box-text {
                            flex         : 1;
                            padding-left : 30px;
                            margin-bottom: 18px;
                            text-align   : left;

                            .title {
                                color         : #171717;
                                font-size     : 30px;
                                font-style    : normal;
                                font-weight   : 600;
                                line-height   : 40px;
                                /* 133.333% */
                                letter-spacing: -1.2px;
                            }

                            .list {
                                border-radius: var(--corner-radius-Rounded, 1000px);
                                background   : #FFEB99;
                                display      : inline-block;
                                margin-top   : 12px;
                                padding      : 10px 22px;
                                text-align   : left;
                            }
                        }
                    }
                }
            }

            .slick-none {
                .list-item {
                    .item-slide {
                        .wrap-item {
                            border-radius: 20px;
                            background   : #F04343;
                            padding      : 24px;
                            margin-top   : 24px;

                            .box-img {
                                img {
                                    width: 100%;
                                }
                            }

                            .box-text {
                                .title {
                                    color         : #FFF;
                                    font-size     : 20px;
                                    font-style    : normal;
                                    font-weight   : 600;
                                    line-height   : 28px;
                                    letter-spacing: -0.6px;
                                    margin-top    : 24px;
                                    text-align    : left;
                                }

                                .list {
                                    padding-left  : 20px;
                                    position      : relative;
                                    margin-top    : 5px;
                                    color         : #fff;
                                    color         : #FFF;
                                    font-size     : 14px;
                                    font-style    : normal;
                                    font-weight   : 450;
                                    line-height   : 24px;
                                    /* 171.429% */
                                    letter-spacing: -0.28px;

                                    &::before {
                                        content         : "";
                                        width           : 5px;
                                        height          : 5px;
                                        border-radius   : 100%;
                                        background-color: #fff;
                                        position        : absolute;
                                        left            : 5px;
                                        top             : 8px;
                                    }
                                }
                            }

                            .box-button {
                                margin-top: 24px;

                                button {
                                    border-radius : var(--corner-radius-Rounded, 1000px);
                                    background    : #171717;
                                    color         : #FFF;
                                    font-size     : 12px;
                                    font-style    : normal;
                                    font-weight   : 600;
                                    line-height   : 16px;
                                    letter-spacing: -0.36px;
                                    height        : 44px;
                                    line-height   : 44px;
                                    width         : 100%;
                                    border        : 0;

                                    img {
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            ::ng-deep {

                .slick-dots {
                    display         : inline-block;
                    background-color: #fff;
                    width           : 260px;
                    border-radius   : 1000px;
                    background      : #FFF;
                    height          : 60px;
                    line-height     : 60px;
                    position        : relative;

                    li {
                        margin    : 0 2px;
                        text-align: center;

                        button {
                            &::before {
                                font-size: 10px;
                                width    : 10px;
                                height   : 10px;
                                color    : #E6E6E6;
                                opacity  : 1;
                                left     : 5px
                            }
                        }

                        &.slick-active {
                            button {
                                &::before {
                                    color: #F04343;
                                }
                            }
                        }
                    }
                }

                .slick-arrow {
                    top    : unset;
                    bottom : -36px;
                    width  : 40px;
                    height : 40px;
                    z-index: 3;

                    &::before {
                        content: "";
                    }

                    &.slick-next {
                        right     : 304px;
                        background: url(../../assets/memory/slick-right.png) no-repeat;
                    }

                    &.slick-prev {
                        left      : 304px;
                        background: url(../../assets/memory/slick-left.png) no-repeat;
                    }
                }
            }

        }
    }

    .footer {
        padding-top   : 60px;
        padding-bottom: 80px;

        @media only screen and (max-width: $mobile) {
            padding-top: 20px;
        }

        .box-footer {
            border-radius  : 343px;
            background     : var(--color-bg-neutral, #171717);
            display        : flex;
            justify-content: space-between;
            padding        : 30px 40px;

            @media only screen and (max-width: $mobile) {
                padding-top   : 40px;
                padding-bottom: 24px;
                display       : block;
                border-radius : 10px;
                text-align    : center;
                border-radius : 30px 30px 0px 0px;
                background    : #171717;

                img {
                    width: 76px;
                }
            }

            .email {
                color         : var(--color-content-on-accent, #FFF);
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 500;
                line-height   : 28px;
                letter-spacing: -0.4px;
                display       : inline-block;
                margin-bottom : 0;

                @media only screen and (max-width: $mobile) {
                    display       : block;
                    margin        : 10px 0;
                    font-size     : 14px;
                    font-style    : normal;
                    font-weight   : 400;
                    line-height   : 20px;
                    letter-spacing: -0.42px;
                }
            }

            .copy {
                color         : var(--color-content-neutral-medium, #858585);
                font-size     : 20px;
                font-style    : normal;
                font-weight   : 400;
                line-height   : 28px;
                letter-spacing: -0.4px;
                display       : inline-block;
                margin-bottom : 0;

                @media only screen and (max-width: $mobile) {
                    display       : block;
                    margin        : 10px 0;
                    font-size     : 14px;
                    font-style    : normal;
                    font-weight   : 400;
                    line-height   : 20px;
                    letter-spacing: -0.42px;
                }
            }
        }

    }
}

.modal-body {
    padding: 0
}

.modal-content {
    .modal-header {
        width             : 100%;
        border-radius     : 30px 30px 0 0;
        height            : auto;
        position          : sticky;
        top               : 0;
        right             : 0;
        left              : 0;
        // min-height: 80px;
        z-index           : 9999;
        padding           : 10px 20px;
        background-color  : #fff;
        -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
        -moz-box-shadow   : 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
        box-shadow        : 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
        padding-top       : 20px;
        text-align        : center;

        button {
            position: absolute;
            top     : 30px;
            right   : 40px;
            padding : 0;
            opacity : 1;

            @media (max-width: $mobile) {
                display: none;
            }

            &:hover {
                opacity: 1;
            }
        }


    }

    .modal-body {
        padding: 20px 40px;

    }

    .modal-footer {
        @media (max-width: $mobile) {
            display              : flex;
            gap                  : 20px;
            width                : 100%;
            border-radius        : 0 0 30px 30px;
            height               : auto;
            position             : sticky;
            bottom               : 0;
            right                : 0;
            left                 : 0;
            z-index              : 9999;
            padding              : 10px 20px;
            background-color     : #fff;
            // -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
            // -moz-box-shadow   : 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
            // box-shadow        : 0px 2px 10px -1px rgba(0, 0, 0, 0.4);
            padding-top          : 20px;
            text-align           : center;
        }

        button {
            border-radius : 100px;
            background    : #F04343;
            color         : #FFF;
            font-size     : 14px;
            font-style    : normal;
            font-weight   : 600;
            line-height   : 20px;
            letter-spacing: -0.42px;
            width         : 100%;
        }

        @media (max-width: $mobile) {
            .login {
                flex                : 1;
                width               : 100%;
                margin              : 0;
                // @media (max-width: $mobile) {
                //     width: calc(100% - 64px);
                // }
            }

            .close {
                flex      : 0 0 44px;
                margin    : 0;
                background: none;
                width     : 44px;
                opacity   : 1;
            }
        }
    }
}

.lp-button {
    z-index: 9;
    button {
        border-radius : var(--corner-radius-XLarge, 32px);
        background    : #F04343;
        color         : #FFF;
        font-size     : 14px;
        font-style    : normal;
        font-weight   : 600;
        line-height   : 20px;
        letter-spacing: -0.28px;
        height        : 48px;
        line-height   : 48px;
        position: relative;
    }
}

@media(max-width: 767px) {
    * {
        max-width: 100vw;
    }
}