$normal-color: #4F5C66;
$neutral-color01: #374047;
$neutral-color06: #C8CFD7;
$neutral-color02: #F4F7FF;
$do-color: #4B8AE9;
$do-color-hover: #2869CB;
$green-color: #20BE69;
$error-color: #DC3545;
$otp-border-color: #E1E5E9;
$green-color: #20BE69;
$disabled-color: #F5F5F5;

// size
$mobile: 1200px;
$tablet: 991px;
$laptop: 1600px;
$large-laptop: 1950px;

$input-mobile: 40px;

